<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p> Bienvenue sur ce site bancal, la liste des potins n'est pas encore disponible, mais en attendant tu peux en créer un nouveau en cliquant <a href="/gossips/new/">ici</a>.</p>
  </body>
</html>